# .env

WAZUH_URL=https://localhost:55000
WAZUH_USER=admin
WAZUH_PASS=SecretPassword

# Option A — skip verification and just leave WAZUH_CERT unset
# Option B — use the actual cert which is more correct
WAZUH_CERT= ~wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem
