# .env

API_URL=https://172.16.255.1:55000
INDEXER_URL=https://172.16.255.1:9200

API_USER=wazuh-wui
API_PASS=MyS3cr37P450r.*-

INDEXER_USER=admin
INDEXER_PASS=SecretPassword

# Option A — skip verification and just leave WAZUH_CERT unset
# Option B — use the actual cert which is more correct
WAZUH_CERT=  ~wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem
